{% extends "student_baseline/base.html" %}

{% block form_content %}
<form id="wizard-form" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="wizard-field-group">
        <div class="wizard-option-list">
            {% for subfield in form.position_mode %}
            {% if subfield.type != 'CSRFTokenField' %}
            <label class="wizard-option-row" for="{{ subfield.id }}">
                {{ subfield(class="wizard-option-input") }}
                <div class="wizard-option-row-body">
                    <div class="wizard-option-row-title">{{ subfield.label.text }}</div>
                </div>
            </label>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% if form.curriculum_topic_code.choices|length > 1 %}
    <div class="wizard-field-group">
        <label class="form-label" for="curriculum_topic_code">{{ form.curriculum_topic_code.label.text }}</label>
        {{ form.curriculum_topic_code(class="form-control") }}
        <small class="wizard-field-hint">Shown when you choose to continue from a topic.</small>
    </div>
    {% endif %}
</form>
{% endblock %}
