{% extends "study_plan/wizard_base.html" %}

{% set wizard_question = "How much time can you realistically study?" %}
{% set wizard_helper = "Be honest about your availability. This determines how much material we schedule each day." %}
{% set button_text = "Next" %}

{% block form_content %}
<form id="wizard-form" method="post" novalidate>
    {{ form.hidden_tag() }}

    <div class="wizard-field-group">
        <label class="form-label" for="weekday_study_minutes">{{ form.weekday_study_minutes.label.text }}</label>
        {% if form.weekday_study_minutes.errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.weekday_study_minutes.errors %}{{ error }}{% endfor %}
        </div>
        {% endif %}
        <div class="wizard-input-with-suffix">
            {{ form.weekday_study_minutes(class="form-control", type="number", min="15", max="480") }}
            <span class="wizard-input-suffix">mins/day</span>
        </div>
    </div>

    <div class="wizard-field-group">
        <label class="form-label" for="weekend_study_minutes">{{ form.weekend_study_minutes.label.text }}</label>
        {% if form.weekend_study_minutes.errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.weekend_study_minutes.errors %}{{ error }}{% endfor %}
        </div>
        {% endif %}
        <div class="wizard-input-with-suffix">
            {{ form.weekend_study_minutes(class="form-control", type="number", min="15", max="480") }}
            <span class="wizard-input-suffix">mins/day</span>
        </div>
    </div>

    <div class="wizard-field-group">
        <label class="form-label">{{ form.preferred_session_minutes.label.text }}</label>
        {% if form.preferred_session_minutes.errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.preferred_session_minutes.errors %}{{ error }}{% endfor %}
        </div>
        {% endif %}
        <div class="wizard-option-pills">
            {% for subfield in form.preferred_session_minutes %}
            {% if subfield.type != 'CSRFTokenField' %}
            <label class="wizard-pill" for="{{ subfield.id }}">
                {{ subfield(class="wizard-option-input") }}
                <span>{{ subfield.label.text }}</span>
            </label>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</form>
{% endblock %}
