{% from "partials/icons.html" import icon %}
{% from "partials/appearance_switcher.html" import appearance_switcher %}
<header class="topnav">
    <nav class="navbar">
        <button class="btn btn-outline-secondary btn-sm d-lg-none me-2" type="button" data-sidebar-toggle aria-label="Toggle navigation">
            {{ icon('menu') }}
        </button>
        {% if current_user.is_authenticated %}
        <span class="navbar-text d-none d-sm-inline">{{ current_user.email }}</span>
        {% else %}
        <span class="navbar-text">Kwalitec</span>
        {% endif %}

        <div class="topnav-end">
            <div class="topnav-alpha d-none d-md-flex">
                {% with alpha_badge_variant='full' %}
                    {% include "partials/internal_alpha_badge.html" %}
                {% endwith %}
            </div>
            {{ appearance_switcher(group_aria_label='Appearance', show_switcher_label=true) }}
        </div>
    </nav>
</header>
